@use "../abstracts" as *;
@use "../mixins" as *;

#header__container {
  display: flex;
  justify-content: space-between;
  position: sticky;

  .header__logo {
    width: 18.75rem; // 300px;
  }

  .btn-contact {
    border: 4px solid $darkSpringGreen;
    background-color: $seaGreen;
    color: $lightYellow;
    height: fit-content;
    margin: auto 2rem;
    border-radius: 0.5rem;
    padding: 0.6rem 1.2rem;
    transition: all 1s;
    cursor: pointer;
    @include text-button;

    &:hover {
      color: $darkSpringGreen;
      transform: scale(1.15);
      background-color: $lightYellow;
    }
  }

  .header__menu {
    margin: auto;
    .menu {
      display: flex;
      margin: 2rem;
      gap: 2rem;

      .menu-item {
        @include text-menu;
        font-weight: 500;

        a {
          text-decoration: none;
          transition: color 0.5s;
          cursor: pointer;

          &:hover {
            color: $darkSpringGreen;
          }
        }
      }
    }
  }
}
