@use "../abstracts" as *;
@use "../mixins" as *;

.hero {
  padding: 0.5rem 0;

  #hero__hello {
    text-transform: uppercase;
    font-family: "Eczar", serif;
    @include heading-large;
    min-height: 70dvh;
    // height: 90vh;

    @media (min-width: 768px) {
      min-height: 50dvh;
    }
  }
}
