$darkSpringGreen: #2c6e49; // rgba(44, 110, 73, 1)
$seaGreen: #4c956c;
$brightPink: #f26a8d;
$carrotOrange: #f39237;

$lightCyan: #cbeef3;
$lightYellow: #fefee3;

$yellowGreen: #99cc33;

$portfolioBlack: #040b07; // rgba(4, 11, 7, 1)
$portfolioWhite: #eaf1ed;
