.container__fluid {
  width: 92%;
  margin: 0 auto;
  max-width: 1792px; // amend to suit design
  padding: 2rem;
  background-color: lime;
}

.container__full {
  background-color: aquamarine;
  padding: 2rem;
}
