body {
  padding-right: 60px;
}

.container__fluid {
  width: 92%;
  margin: 0 auto;
  max-width: 1792px; // amend to suit design
  padding: 2rem;
  padding-bottom: 4rem;
}

.container__full {
  background-color: aquamarine;
  padding: 2rem;
}

#header__container,
#footer__container .container__fluid {
  max-width: 2100px;
  width: 100%;
  padding: 0.5rem;
}
